.tabs-content {
    width: 50%;
    margin-top: 30px;
    color: #627d94;
}

.content-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content-head .img {
    color: transparent;
    cursor: pointer;
    transition: all 1s linear;
}

.content-head .img::before {
    content: 'CREATE  ';
}

.content-head .img:hover {
    color: #627d9485;
}

.wrapper h1 {
    text-align: center;
    font: 400 25px 'Roboto';
    margin-bottom: 20px;
    color: #5a7389;
    font-style: italic;
}