.block-nav {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.block-nav .img {
    background-image: url(./assets/logoo.svg);
    width: 200px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
}

.block-nav nav {
    display: flex;
    align-items: center;
}

.block-nav nav p {
    font: 400 18px 'Roboto';
    margin-bottom: 2px;
    color: #5a7389;
    cursor: pointer;
}

.block-nav nav p:not(:last-child) {
    margin-right: 25px;
}